body{
    margin:0;
    font-family:Arial,sans-serif;
    background:#0f172a;
    color:white;
    text-align:center;
}

header{
    background:#2563eb;
    padding:30px;
}

h1{
    font-size:42px;
}

button{
    background:#2563eb;
    color:white;
    padding:15px 30px;
    border:none;
    border-radius:10px;
    font-size:18px;
    margin:10px;
}

button:hover{
    background:#1d4ed8;
}

section{
    padding:30px;
}

footer{
    background:#111827;
    padding:20px;
    margin-top:40px;
}

input{
    width:280px;
    padding:12px;
    border-radius:8px;
    border:none;
    font-size:16px;
}
header{
    background:#2563eb;
    color:white;
    padding:20px;
}

section{
    padding:30px;
}

footer{
    margin-top:40px;
    background:#111827;
    color:white;
    padding:15px;
}

button{
    width:250px;
}
nav{
    background:#111827;
    padding:15px;
}

nav a{
    color:white;
    text-decoration:none;
    margin:15px;
    font-size:18px;
}

nav a:hover{
    color:#60a5fa;
}
